:root {
    --darkBlue: hsl(209, 23%, 22%);
    --veryDarkBlue: hsl(207, 26%, 17%);
    --veryDarkBlueText: hsl(200, 15%, 8%);
    --darkGrayInput: hsl(0, 0%, 52%);
    --lightGrayBg: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--lightGrayBg);
  font-family: 'Nunito Sans', sans-serif;
}
.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  color: var(--veryDarkBlueText);
}
.dark {
  background-color: var(--veryDarkBlue);
  color: white;
}
.gray {
  color: var(--darkGrayInput);
  font-weight: 300;
}
.header.dark {
  background-color: var(--darkBlue);
}
.header--title {
  font-size: 1.2rem;
}
.header--toggle {
  cursor: pointer;
  font-size: 0.9rem;
}
form {
  padding:  1.5rem 2rem;
  display: flex;
  justify-content: space-between;
}
input[type="text"] {
  background-color: white;
  height: 2.5rem;
  border: none;
  width: 300px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
  padding: 0 1rem;
  font-family: 'Nunito Sans', sans-serif;
}
input[type="text"]:focus {
  outline: none;
}
input[type="text"].dark {
  background-color: var(--darkBlue);
  color: white;
}
select {
  background-color: white;
  height: 2.5rem;
  border: none;
  width: 150px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
  font-family: 'Nunito Sans', sans-serif;
}
select.dark {
  background-color: var(--darkBlue);
}
select.dark > option {
  background-color: var(--darkBlue);
}
select:focus {
  outline: none;
}
select > option {
  background-color: white;
}
.countries--container {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 2rem; 
}
.country--card {
  background-color: white;
  border-radius: 10px;
  width: 250px;
  height: 300px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
  color: var(--veryDarkBlueText)
}
.country--card.dark {
  background-color: var(--darkBlue);
  color: white;
}
.country--card.dark .gray {
  color: var(--darkGrayInput);
}
.country--img-card {
  width:250px;
  height: 50%;
}
.country--img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}
.country--text {
  padding: 1rem;
  height: 50%;
}
.country--text h3 {
  font-weight: 800;
}
.country--text p {
  font-weight: 600;
}
.country--name {
  margin-bottom: 1rem;
}
@media(max-width: 1200px) {
  .countries--container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media(max-width: 824px) {
  .countries--container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 568px) {
  .countries--container {
    grid-template-columns: repeat(1, 1fr);
  }
  form {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }
}



