:root {
    --darkBlue: hsl(209, 23%, 22%);
    --veryDarkBlue: hsl(207, 26%, 17%);
    --veryDarkBlueText: hsl(200, 15%, 8%);
    --darkGrayInput: hsl(0, 0%, 52%);
    --lightGrayBg: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--lightGrayBg);
}
.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
}
.header--title {
  font-size: 1.2rem;
}
.header--toggle {
  font-size: 0.9rem;
}
form {
  padding:  1.5rem 2rem;
  display: flex;
  justify-content: space-between;
}
input[type="text"] {
  background-color: white;
  height: 2.5rem;
  border: none;
  width: 300px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
  padding: 0 1rem;
}
input[type="text"]:focus {
  outline: none;
}
select {
  background-color: white;
  height: 2.5rem;
  border: none;
  width: 150px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
}
select:focus {
  outline: none;
}
select > option {
  background-color: white;
}
.countries--container {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 2rem; 
}
.country--card {
  background-color: white;
  border-radius: 10px;
  width: 250px;
  height: 300px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
}
.country--img {
  padding: 0;
  width:250px;
  height: 150px;
  border-radius: 10px 10px 0 0;
}
.country--text {
  padding: 1rem;
}
.country--name {
  margin-bottom: 1rem;
}



